<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/backlog.css">
    <script type="text/javascript" src="/jquery-ui/external/jquery/jquery.js" defer></script>
    <script type="text/javascript" src="/jquery-ui/jquery-ui.min.js" defer></script>
    <script type="text/javascript" src="/javascript/backlog.js" defer></script>
</head>

<body>

<div class="container">

    <%- include('navigation.ejs') %>

    <div class="mt-3">
        <button class="btn btn-primary" onclick="showPopup('#add-sprint')">Nouveau sprint</button>
        <button class="btn btn-success" onclick="showPopup('#add-user-story')">Nouvelle US</button>

        <div class="pop-up-wrapper">
            <div class="pop-up" id="add-sprint">
                <%- include('new-sprint.ejs', { projectId: projectId }); %>
            </div>
            <div class="pop-up" id="add-user-story">
                <%- include('new-user-story.ejs', { projectId: projectId }); %>
            </div>
        </div>

        <%
        backlog.sprints.sort((s1, s2) => { return new Date(s2.start) - new Date(s1.start); });
        let i = backlog.sprints.length;
        %>
        <% backlog.sprints.forEach(function(sprint) { %>
            <h2>Sprint <%- i-- %></h2>
            <p class="text-muted" id="date"><%= moment(sprint.start).locale('fr').format('DD MMM YYYY') %> -
                <%= moment(sprint.end).locale('fr').format('DD MMM YYYY') %></p>
            <div class="us-container sprint" data-sprint-id=<%= sprint._id %>
                data-project-id=<%= projectId %>>
                <%- include('sprint.ejs', {sprint : sprint}) %>
            </div>
        <% }); %>

        <h2>Backlog</h2>
        <div class="us-container" id="backlog" data-project-id=<%= projectId %>>
            <% backlog.backlog.USList.forEach(function(US) { %>
                <div class="user-story border row m-0" style="cursor: grab; border-radius: 3px" data-us-id=<%= US._id %>>
                    <span class="col-1">#<%= US.id %></span>
                    <span class="description col-9"><%= US.description %></span>
                    <span class="col-1 text-center"><span class="badge-pill badge-info"><%= US.difficulty %></span></span>
                    <span class="col-1 text-right us-more" onclick="alert('click')"><i class="fas fa-ellipsis-v"></i></span>
                </div>
            <% }); %>
        </div>
    </div>

</div>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>


</html>
