<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
</head>

<body>

    <div class="container">

        <%- include('navigation.ejs') %>

        <% let i = 0;
    backlog.sprints.forEach(function(sprint) { %>
        <h2>Sprint <%- i++ %></h2>
        <div class="row">
            <%- include('sprint.ejs', {sprint : sprint}) %>
        </div>
        <% }); %>

        <h2>Backlog</h2>
        <div class="row">
            <% backlog.backlog.USList.forEach(function(US) { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">ID: X </h5>
                    <p class="card-text">Description : <%= US.description %> -
                        Difficulté : <%= US.difficulty %></p>
                    <a href="#" class="btn btn-primary stretched-link">Détails</a>
                </div>
            </div>
            <% }); %>
        </div>

        <a type="button" href="/projects/<%= projectId %>/backlog/new-sprint" class="btn btn-success btn-danger">Créer un
        nouveau sprint</a>

    </div>

    <footer>
        <%- include('footer.ejs') %>
    </footer>

</body>

</html>