    <div class="form-group">
        <label for="newDescription">Description de l'US</label>
        <input type="text" name="newDescription" class="form-control" id="newDescription<%= US._id %>"
               placeholder="La description de l'US" required value="<%= US.description %>">
    </div>

    <div class="form-group">
        <label for="inputState">Difficulté</label>
        <select name="newDifficulty" class="form-control" id="newDifficulty<%= US._id %>"
                value="<%= US.difficulty %>">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>5</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success"
            onclick="modifyUserStory('<%= projectId %>', '<%= sprintId %>', '<%= US._id %>',
                    getNewDescription('<%= US._id %>'), getNewDifficulty('<%= US._id %>'))">Appliquer les modifications</button>
    <button  class="btn btn-danger" onclick="closePopup()">Retour</button>