<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Projet CDP</h1>
    <p>Liste des projets créés</p>
</div>

<a type="button" href="/project/new-project" class="btn btn-success btn-danger">Créer un nouveau projet</a>


<ul class="list-unstyled">
    <% projects.forEach(function(project) { %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Projet: <%= project.name %> </h5>
            <p class="card-text">Date de début : <%= project.start %> -
                Date de fin : <%= project.end %></p>
            <a href="/projects/<%= project._id %>" class="btn btn-primary stretched-link"><%= project.name %></a>
        </div>
    </div>
    <% }); %>
</ul>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>
