<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
    <script src="/javascript/project.js" type="text/javascript" defer></script>
</head>
<body>

<%
function getCurrentSprint(sprints) {
    let today = new Date();
    for (let sprint of sprints) {
        if (new Date(sprint.start) <= today && today <= new Date(sprint.end))
            return moment(sprint.start).locale('fr').format('DD MMMM YYYY')
                    + ' - '
                    + moment(sprint.end).locale('fr').format('DD MMMM YYYY');
    }
    return "Aucun"
}
%>

<div class="container">

    <%- include('navigation.ejs') %>

    <div class="jumbotron">
        <h1 class="projName"><%= project.name %></h1>
        <p class="projDescription"><%= project.description %></p>
    </div>

    <p>Date de début : <%= moment(project.start).locale('fr').format('DD MMMM YYYY') %></p>
    <p>Date de fin : <%= moment(project.end).locale('fr').format('DD MMMM YYYY') %></p>

    <p>Sprint en cours : <%= getCurrentSprint(project.management.backlog.sprints) %></p>

    <h3>Membres</h3>
    <button class="btn btn-primary" onclick="showPopup()">Nouveau membre</button>

    <div class="pop-up-wrapper">
        <div class="pop-up">
            <%- include('new-member.ejs', { projectId: project._id }); %>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Rôle</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <% project.members.forEach(function(member) { %>
            <tr>
                <th id="name" scope="row">
                    <i class="fa fa-square color" style="color: #<%= member.color %>"></i>
                    <%= member.name %>
                </th>
                <td id="role"><%= member.role %></td>
                <td id="email"><%= member.email %></td>
                <td>
                    <button class="btn btn-danger float-right"
                            onclick="deleteMember('<%= project._id %>', '<%= member._id %>')">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>
