<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body>

<%
    /*
function getCurrentSprint(sprints) {
    let today = new Date();
    for (let sprint of sprints) {
        if (new Date(sprint.start) <= today && today <= new Date(sprint.end))
            return sprint.start + " - " + sprint.end;
    }
    return "Aucun"
}
*/
%>

<div class="container">
    
    <%- include('navigation.ejs') %>

    <div class="jumbotron">
        <h1>Nom du projet : <%= project.name %></h1>
        <p>Description : <%= project.description %></p>
    </div>

    <div>
        <p>Membres <a href="/projects/<%= project._id %>/new-member" class="btn btn-primary">New member</a></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <% project.members.forEach(function(member) { %>
                        <div class="col">
                            <p>Nom : <%= member.name %></p>
                            <p>Rôle : <%= member.role %></p>
                            <p>Email : <%= member.email %></p>
                            <p>Couleur : <i class="fa fa-square" style="color: #<%= member.color%>"></i></p>
                            <form action="/projects/<%= project._id %>/members/<%= member._id %>" method="post">
                                <button type="submit" class="btn btn-success btn-danger">Supprimer le membre</button>
                            </form>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <p>Date de début : <%= new Date(project.start).toLocaleDateString() %></p>
        <p>Date de fin : <%= new Date(project.end).toLocaleDateString() %></p>

        <!--<p>Sprint en cours : <%= //getCurrentSprint(project.management.backlog.sprints) %></p>-->
    </div>
</div>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>
