<% sprint.USList.sort((s1, s2) => { return new Date(s2.priority) - new Date(s1.priority); }); %>
<% sprint.USList.forEach(function(US) { %>
    <div class="user-story border row m-0" data-us-id="<%= US._id %>">
        <span class="col-1">#<%= US.id %></span>
        <span class="description col-9"><%= US.description %></span>
        <span class="col-1 text-center"><span class="badge-pill badge-info"><%= US.difficulty %></span></span>
        <div class="dropdown">
            <span class="col-1 text-right us-more" onclick="alert('click')"><i class="fas fa-ellipsis-v"></i></span>
            <div id="myDropdown" class="dropdown-content">
                <a onclick="closeUS('<%= projectId %>', '<%= sprint._id %>', '<%= US._id %>')">Fermer l'US</a>
                <a onclick="showPopup('#edit-user-story<%=US.id%>')">Modifier</a>
            </div>
        </div>
        <div class="pop-up" id="edit-user-story<%=US.id%>">
            <%- include('edit-user-story.ejs', { projectId: projectId, US: US }); %>
        </div>
    </div>
<% }); %>
