<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tasks.css">
    <script type="text/javascript" src="/javascript/tasks.js" defer></script>
</head>
<body>

<%
function filterTasksByPhase(taskList, progressPhase){
    return taskList.filter(task => task.status === progressPhase);
}
%>

<div class="pop-up-wrapper">
    <div class="pop-up" id="add-task">
        <%- include('view-task.ejs'); %>
    </div>

    <div class="pop-up-wrapper2">
        <div class="pop-up" id="pop-up-dependencies">
            <%- include('task-dependencies.ejs'); %>
        </div>
    </div>

    <div class="pop-up-wrapper3">
        <div class="pop-up" id="pop-up-linked-user-stories">
            <%- include('task-linked-user-stories.ejs'); %>
        </div>
    </div>
</div>


<div class="container vh-100 d-flex flex-column">
    <%- include('navigation.ejs') %>

    <h2>Tâches</h2>

    <div class="row flex-grow-1 my-3" style="height: 0">
        <%- include('kanban-panel.ejs', { title: 'TODO', tasks: filterTasksByPhase(tasksList, 'TODO') }) %>
        <%- include('kanban-panel.ejs', { title: 'WIP' , tasks: filterTasksByPhase(tasksList, 'WIP')  }) %>
        <%- include('kanban-panel.ejs', { title: 'DONE', tasks: filterTasksByPhase(tasksList, 'DONE') }) %>
    </div>

</div>

<footer>
    <%- include('footer.ejs') %>
</footer>

</body>
</html>
